<div class="panel panel-primary">
  <div class="panel-heading">How about we start with calculate Fibonacci with dynamic method: (max 40 plz dis is test server)</div>
  <div class="panel-body">
      <input class="form-control" placeholder="Fibonacci" id="fibonacci_input">
      Result: <div id="fibonacciResult"></div>
  </div>
</div>
    
<div class="panel panel-primary">
  <div class="panel-heading">Try to use Rails Heap Sort functions (average complexity: n log n):</div>
  <div class="panel-body">
      <span class="label label-info">Enter number to pop into array, type c to clear</span>
      <input class="form-control" placeholder="bop bop baby please don't let me go" id="sort_input">
      Result: <div id="sort_result"></div>
  </div>
</div>

<script>
  $(document).ready(function() {
	  Algorithms.init()
  });
</script>